.promo {
    display: block;

    background-color: #fff;

    @media #{$tablet} {
        @include padding-x(6rem);
        padding-bottom: 4rem;
    }

    @media #{$desktop} {
        @include padding-x(20rem);
        padding-bottom: 8.5rem;
    }

    &__intro {
        margin-bottom: 3rem;

        &::before,
        &::after {
            display: none;
        }

        @media #{$tablet} {
            @include padding-x(10rem);
        }

        @media #{$desktop} {
            @include padding-x(20rem);
        }
    }
}
