.modal {
    top: 50%;

    width: 100%;
    margin: 0;
    padding: 0;

    border: none;
    background-color: #ffffff;

    transform: translateY(-50%);

  &::backdrop {
    background-color: rgba($color-secondary, 0.75);
  }
}
