extends _template.pug
include ../components/page/page.pug
include ../components/page-header/page-header.pug
include ../components/gallery/gallery.pug
include ../components/promo/promo.pug
include ../components/page-footer/page-footer.pug

block append data
	- const [ activePageData ] = getActivePageData('gallery');
	- const { name } = activePageData;


block head
	- pageTitle = 'Sedona';

block content
	+page(class=`--${name}`)
		| %=symbols=%
		.page__wrapper
			+page-header(activePageData, 'page-header')
			+gallery(gallery, activePageData, 'gallery')
			+promo(promo, 'intro')
			+page-footer(pageFooter)
