extends _template.pug
include ../components/page-header/page-header.pug
include ../components/features/features.pug

block append data
	- const [ activePageData ] = getActivePageData('index');

block head
	- pageTitle = 'Sedona';

block content
	| %=symbols=%

	+page-header(activePageData, 'page-header')
	+features(data, activePageData, 'features')

