.features {
    display: flex;
    flex-flow: column nowrap;

    @media #{$tab-desk} {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        grid-auto-rows: auto;
        grid-template-areas:
            "intro intro intro"
            "feature1 feature1 feature1"
            "feature2 feature2 feature2";

        & > * {
            align-self: flex-start;
        }
    }

    &__intro {
        position: relative;

        @media #{$tab-desk} {
            grid-area: intro;
        }
    }
}
