include ../intro/intro.pug

mixin features(data, activePageData, parentBlockName)
	- const { name } = activePageData;
	+b('main').features&attributes(attributes)
		+intro(intro, name)(class=`${parentBlockName}__intro`)
