include ../intro/intro.pug
include ../feature/feature.pug

mixin features(data, activePageData, parentBlockName)
	- const { name } = activePageData;
	+b('main').features&attributes(attributes)
		+intro(intro, name)(class=`${parentBlockName}__intro`)
		each val in data
			+feature(val)
