.main-nav {
    display: flex;
    flex-flow: column wrap;

    background-color: #ffffff;

    &__toggler {
        z-index: 15;
        position: fixed;
        top: 17px; // (link' height: 56px - icon' height: 22) / 2
        right: $offset--mobile;

        align-self: flex-end;
    }

    &__list {
        @include list-clear();

        @media #{$tab-desk} {
            display: block;
        }
    }
}
