.main-nav {
    display: flex;
    flex-flow: column wrap;

    background-color: #ffffff;

    &__toggler {
        z-index: 10;
        position: relative;
        right: $offset--mobile;

        align-self: flex-end;
    }

    &__list {
        @include list-clear();

        @media #{$tab-desk} {
            display: block;
        }
    }
}
