.list {
    $root: &;

    display: flex !important;
    flex-flow: column wrap;

    @media #{$tab-desk} {
        display: grid !important;
        // grid-template-columns: [col1-start] 1fr [col2-start] 1fr [col3-start] 1fr [col4-start] 1fr [col5-start] 1fr [col5-end];
        grid-template-columns: repeat(5, 1fr);
        grid-template-areas: "index gallery . feedback adv";
        // flex-flow: row wrap;
    }

    &__item {
        @media #{$tab-desk} {
            &:nth-child(1) {
                grid-area: index;
                // grid-column: col1-start / col2-start;
            }

            &:nth-child(2) {
                grid-area: gallery;
                // grid-column: col2-start / col3-start;
            }

            &:nth-child(3) {
                grid-area: feedback;
                // grid-column: col4-start / col5-start;
            }

            &:nth-child(4) {
                grid-area: adv;
                // grid-column: col5-start / col5-end;
            }
            // lost-column: 1/5;

            // &:nth-child(2) {
            //     margin-right: auto;
            // }

            // &:nth-child(3) {
            //     margin-left: auto;
            // }

            &--active #{$root}__link {
                color: $active-link-color;
            }

            &--active:hover #{$root}__link {
                color: $active-link-color--hover;
            }

            &--active:active #{$root}__link {
                color: $active-link-color--down;
            }
        }
    }

    &__link {
        display: block;
        @include padding-y(2.8rem);

        font-style: normal;
        font-weight: 700;
        font-size: 1.8rem;
        line-height: 0;
        white-space: nowrap;
        color: #ffffff;
        text-decoration: none;
        text-transform: uppercase;
        text-align: center;

        background-color: transparent;

        #{$root}__item:first-child > & {
            box-shadow: inset 0 -1px 0 rgba($color-primary, 0.2);
        }

        #{$root}__item:not(:first-child) & {
            box-shadow: inset 0 1px 0 rgba(#ffffff, 0.2), inset 0 -1px 0 rgba($color-primary, 0.2);
        }

        #{$root}__item:last-child & {
            box-shadow: inset 0 1px 0 rgba(#ffffff, 0.2),
                inset 0 -2px 2px rgba($color-primary, 0.2);
        }

        @include btn-bg;

        @media #{$tab-desk} {
            font-size: $font-size;
            color: $color-primary;

            background-color: transparent;

            #{$root}__item:first-child &,
            #{$root}__item:not(:first-child) &,
            #{$root}__item:last-child & {
                box-shadow: none;
            }

            &:hover,
            &:active {
                background-color: transparent;
            }

            &:hover {
                color: $link-color--hover;
            }

            &:active {
                color: $link-color--down;
            }
        }
    }
}
