// GUI stylies of the project

.link {
    color: $link-color;
    text-decoration: none;

    background-color: transparent;

    &:link,
    &:visited {
        color: $link-color;
    }

    &:hover {
        text-decoration: none;
        color: $link-color--hover;

        transition-duration: 0.3s;
    }

    &:active {
        color: $link-color--down;
        transition-duration: 0s;
    }
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;

    border: 0;
    cursor: pointer;

}
