// Mixins.

// Set element size
@mixin size($width, $height: $width) {
    width: $width;
    height: $height;
  }

  // Set margin-left / margin-right
  @mixin margin-x($margin) {
    margin-right: $margin;
    margin-left: $margin;
  }

  // Set margin-top / margin-bottom
  @mixin margin-y($margin) {
    margin-top: $margin;
    margin-bottom: $margin;
  }

  // Set pading-left / padding-right
  @mixin padding-x($padding) {
    padding-right: $padding;
    padding-left: $padding;
  }

  // Set padding-top / padding-bottom
  @mixin padding-y($padding) {
    padding-top: $padding;
    padding-bottom: $padding;
  }

  // Set fixed ontainer
  @mixin container() {
    margin: 0 auto;

    @include padding-x($offset--mobile);
    min-width: $container--min;
    max-width: $container--max;

    @media #{$tablet} {
      @include padding-x($offset--tablet);
    }

    @media #{$desktop} {
      @include padding-x($offset--desktop);
    }
  }

  // Set fluid container
  @mixin container-fluid() {
    margin: 0 auto;
    width: 100%;
  }

  // Clear default list' styles
  @mixin list-clear() {
    margin: 0;
    padding: 0;

    list-style: none;
  }
