// File for scss-vars.

// Colors
$color-primary: #000000 !default;
$color-secondary: #81b3d2 !default;

$text-color: $color-primary !default;

$body-bg: #ededed !default;

$active-link-color: #766357 !default;
$active-link-color--hover: darken($active-link-color, 10%) !default;
$active-link-color--down: rgba($active-link-color, 0.3) !default;

$link-color: $color-primary !default;
$link-color--hover: $color-secondary !default;
$link-color--down: $active-link-color--down !default;

// Typography
$font-size: 1.4rem !default;
$leading: 1.5 !default;

$font-family--sans-serif: 'PT Sans', Verdana, Tahoma, 'Helvetica Neue',
  Helvetica, Arial, sans-serif;
$font-family--serif: Georgia, 'Times New Roman', Times, serif;
$font-family--monospace: 'Courier New', Menlo, Monaco, Consolas,
  'Liberation Mono', monospace;

$font-family: $font-family--sans-serif !default;

// Media query ranges
$mobile: 'only screen and (max-width: 767px)';
$tablet: 'only screen and (min-width: 768px) and (max-width: 1279px)';
$desktop: 'only screen and (min-width: 1280px)';

$portable: 'only screen and (max-width: 1279px)';

$tab-desk: 'only screen and (min-width: 768px)';

$retina: 'only screen and (-webkit-min-device-pixel-ratio: 2), only screen and ( min-resolution: 192dpi), only screen and ( min-resolution: 2dppx), only screen and (min-device-pixel-ratio: 2)';

// Container sizes
$container--min: 320px !default;
$container--mid: 768px !default;
$container--max: 1200px !default;

// Paddings and margins
$offset--mobile: 20px !default;
$offset--tablet: 50px !default;
$offset--desktop: 40px !default;

  // http://lostgrid.org/
  @lost flexbox flex;
  @lost gutter 0;

