.like {
    display: block;

    &__icon {
        margin-right: 1.5rem;
        opacity: 0.3;
    }

    &__counter {
        font-size: $font-size;
        line-height: 2.4rem;
        font-weight: 700;
    }
}
