.like {
    display: flex;
    align-items: baseline;

    &__icon {
        margin-right: 1rem;
        opacity: 0.3;

        @media #{$tablet} {
            margin-right: 1rem;
        }

        @media #{$desktop} {
            opacity: 1;
        }
    }

    &__counter {
        font-size: $font-size;
        line-height: 2.4rem;
        font-weight: 700;
    }
}
