mixin like(data)
	+b('div').like&attributes(attributes)
		!= pugHelpers.Icon.call(locals, {iconName: 'icon--like', className: 'like__icon', iconWidth: '24', iconHeight: '22'})
		+e('span').counter= data
