.feature-list-item {
    position: relative;

    @media #{$tab-desk} {
        display: flex;
        flex-flow: column nowrap;

        &:nth-child(2) {
            order: 5;
        }
      }

    &__inner {
        display: flex;
        flex-flow: column nowrap;
        margin-left: 5rem;

        @media #{$tab-desk} {
            @include padding-x($offset--tablet);

            margin-left: initial;
            margin-bottom: 5rem;

            text-align: center;
        }
    }

    &__icon {
        position: absolute;
        top: 0;
        left: 0;

        width: 36px;
        height: 36px;

        transform: translateY(calc(-50% + 0.9rem));

        @media #{$tab-desk} {
            position: static;
            top: auto;
            left: auto;

            align-self: center;
            width: 76px;
            height: 76px;

            margin-top: 5rem;

            transform: translateY(0);
        }
    }

    &__caption,
    &__text {
        text-transform: uppercase;
    }

    &__caption {
        margin: 0;
        margin-bottom: 1.5rem;
        padding: 0;

        font-size: 1.8rem;
        line-height: 2.6rem;

        @media #{$tab-desk} {
            margin-top: 2.5rem;

            font-size: 2.1rem;
        }
    }

    &__text {
        margin: 0;
        padding: 0;

        font-size: $font-size;
        line-height: $leading;

        @media #{$tab-desk} {
            min-height: 5rem;
        }
    }
}
