.toggle-input {
    $root: &;
    display: flex;
    flex-flow: row wrap;
    align-items: center;

    cursor: pointer;

    &:hover  &__text::before {
        background-color: #e5e5e5;
        transition-duration: 0.3s;
    }

    &:active  &__text::before {
        background-color: #d5d5d5;
    }

    &:active  &__text::after {
        opacity: 0.3;
    }

    &__input {
        appearance: none;
        margin: 0;
        padding: 0;

        &:checked + #{$root}__text::after {
            display: block;
        }
    }

    &__text {
        position: relative;

        width: 100%;
        @include padding-y(1.5rem);
        padding-left: 8rem;

        &::before,
        &::after {
            content: "";

            position: absolute;
            top: 50%;

            display: block;

            transform: translateY(-50%);
        }

        &::before {
            left: 0;

            width: 55px;
            height: 55px;

            background-color: #f2f2f2;

        }
    }

    &--radio {
        #{$root}__text::before,
        #{$root}__text::after {
            border-radius: 50%;
        }

        #{$root}__text::after {
            left: calc((55px - 20px) / 2);

            display: none;
            width: 20px;
            height: 20px;

            background-color: #333333;
        }
    }

    &--checkbox {
        #{$root}__text::before {
            border-radius: 10px;
        }
        #{$root}__text::after {
            top: calc(50% - (4px / 2));
            left: calc((55px - 15px) / 2);
            bottom: 2px;

            display: none;
            width: 15px;
            height: 25px;

            border: 4px solid $color-primary;
            border-left-color: transparent;
            border-top-color: transparent;

            transform: translateY(-50%) rotate(45deg);
        }
    }
}
