.preview {
    display: flex;
    flex-flow: column wrap;
    margin: 0;

    @media #{$desktop} {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 80px;
    }

    & picture {
        display: flex;
        flex-flow: column wrap;
    }

    &__image {
        object-fit: cover;
        margin-bottom: 1.5rem;

        @media #{$tab-desk} {
            margin-bottom: initial;
        }
    }

    &__description,
    &__heading {
        margin: 0;
        padding: 0;
    }

    &__description {
        display: flex;
        flex-flow: column wrap;

        @media #{$tab-desk} {
            flex-flow: row nowrap;
            align-items: center;
            padding: 1.5rem;
        }
    }

    &__inner {
        margin-bottom: 0.5rem;

        @media #{$tab-desk} {
            margin-bottom: initial;
        }
    }

    &__heading {
        font-size: $font-size;
        line-height: 2.4rem;
        text-transform: uppercase;
    }

    &__author {
        font-size: $font-size;
        line-height: 2.4rem;
    }

    &__like {
        @media #{$tab-desk} {
            margin-left: auto;
        }
    }
}
