.preview {
    display: flex;
    flex-flow: column wrap;
    margin: 0;

    & picture {
        display: flex;
        flex-flow: column wrap;
    }

    &__image {
        object-fit: cover;
        margin-bottom: 1.5rem;

        @media #{$tab-desk} {
            margin-bottom: initial;
        }
    }

    &__description,
    &__heading {
        margin: 0;
        padding: 0;
    }

    &__description {
        display: flex;
        flex-flow: column wrap;
        align-items: center;

        @media #{$tab-desk} {
            flex-flow: row nowrap;
            padding: 2rem;
            background-color: #f2f2f2;
        }
    }

    &__heading {
        font-size: $font-size;
        line-height: 2.4rem;
        text-transform: uppercase;
    }

    &__author {
        font-size: $font-size;
        line-height: 2.4rem;
    }

    &__like {
        margin-left: auto;
    }
}
