.page-header {
    &__inner {
        display: flex;
        flex-flow: column wrap;
        min-height: 445px;

        background-image: url('%=static=%assets/page-header/page-header__back-index--mobile.png');
        background-repeat: no-repeat;
        background-position: center 50px;
        background-size: cover;

        @media #{$tab-desk} {
            min-height: 574px;
            background-position: center top;
        }

        @media #{$retina} {
            background-image: url('%=static=%assets/page-header/page-header__back-index--mobile@2x.png');
        }

        @media #{$tablet} {
            background-image: url('%=static=%assets/page-header/page-header__back-index--tablet.png');

            @media #{$retina} {
                background-image: url('%=static=%assets/page-header/page-header__back-index--tablet@2x.png');
            }
        }

        @media #{$desktop} {
            @include margin-x(initial);
            background-image: url('%=static=%assets/page-header/page-header__back-index--desktop.png');

            @media #{$retina} {
                background-image: url('%=static=%assets/page-header/page-header__back-index--desktop@2x.png');
            }
        }
    }

    &__intro {
        position: relative;
    }

    &__logo,
    &__main-nav {
        @include margin-y(0);
        padding: 0;
    }

    &__main-nav {
        min-height: 55px;

        @media #{$tab-desk} {
            min-height: auto;
        }
    }

    &__logo {
        position: absolute;
        top: 0;
        left: calc(50% - 40px);

        transform: translateX(calc(-25% + 20px));

        @media #{$tablet} {
            left: calc(50% - 50px);
            transform: translateX(calc(-25% + 25px));
        }

        @media #{$desktop} {
            left: calc(50% - 80px);
            transform: translateX(calc(-25% + 40px));
        }
    }

    &__link {
        display: block;
        align-self: center;
        @include margin-y(auto);
    }

    &__icon {
        @media #{$tab-desk} {
            width: 460px;
            height: 350px;
        }
    }
}
