.header-feature {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

    text-align: center;

    &__title,
    &__description {
        margin: 0;
        padding: 0;
    }

    &__index,
    &__description {
        font-size: $font-size;
        line-height: $leading;
    }

    &__title {
        margin-top: auto;

        font-size: 1.8rem;
        line-height: 2.6rem;
        text-transform: uppercase;

        @media #{$tab-desk} {
            margin-top: initial;
            font-size: 2.1rem;

            & > span {
                display: block;
            }
        }
    }

    &__index {
        position: relative;

        display: inline-block;
        @include margin-y(1rem);
        @include padding-x(1.5rem);

        @media #{$tab-desk} {
            margin-top: 0.5rem;
            margin-bottom: 2.5rem;
        }

        &::before,
        &::after {
            content: "—";

            position: absolute;
            top: 50%;
            transform: translateY(calc(-50% - 1px));
        }

        &::before {
            left: 0;
        }

        &::after {
            right: 0;
        }
    }

    &__description {
        margin: 0;
        margin-bottom: auto;
        padding: 0;
        text-transform: uppercase;

        @media #{$tab-desk} {
            margin-bottom: initial;
        }
    }
}
