.icon,
#icon {
  &--logo {
    &__outer-contour,
    &__clouds,
    &__bridge {
      display: none;
    }

    @media #{$desktop} {
      &__outer-contour,
      &__clouds,
      &__bridge {
        display: block;
      }
    }
  }

  &--cross {
    fill: #ffffff;
  }

  &--menu {
    fill: $color-secondary;
  }

  &--house,
  &--gift,
  &--burger {
      fill: $color-secondary;
  }
}
