.icon,
#icon {
  &--logo {
    &__outer-contour,
    &__clouds,
    &__bridge {
      display: none;
    }

    @media #{$desktop} {
      &__outer-contour,
      &__clouds,
      &__bridge {
        display: block;
      }
    }
  }

  &--cross {
    @include icon-colors() {
      --icon-color: #ffffff;
    }
  }

  &--menu {
    @include icon-colors() {
      --icon-color: #{$color-secondary};
    }
  }

  &--house,
  &--gift,
  &--burger {
    @include icon-colors() {
      --icon-color: #{$color-secondary};
    }
  }

  &--facebook,
  &--twitter,
  &--youtube {
    @include icon-colors() {
      --icon-color: #ffffff;
    }
  }

  &--like {
    @media #{$desktop} {
      @include icon-colors() {
        --icon-color: #ffffff;
      }
    }
  }
}
