include ../intro/intro.pug
include ../post/post.pug

mixin gallery(data, activePageData, parentBlockName)
	- const { name } = activePageData;
	+b('main').gallery&attributes(attributes)
		+intro(intro, name)(class=`${parentBlockName}__intro`)
		+e('ul').list
			each val in data
				+post(val)(class='gallery__item')
