include ../intro/intro.pug
include ../preview/preview.pug

mixin gallery(data, activePageData, parentBlockName)
	- const { name } = activePageData;
	+b('main').gallery&attributes(attributes)
		+intro(intro, name)(class=`${parentBlockName}__intro`)
		+e('ul').list
			each val in data
				+preview(val)(class='gallery__item')
