.gallery {
  display: block;
  background-color: #ffffff;

  @media #{$tablet} {
      @include padding-x(6rem);
  }

  &__intro {
    margin-bottom: 2rem;
    &::after {
      display: none !important;
    }
  }

  &__list {
    position: relative;
    z-index: 5;

    @include list-clear();

    @media #{$tab-desk} {
      display: grid;
    }

    @media #{$tablet} {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
      grid-auto-rows: auto;
    }
  }

  &__item {
    display: block;
    @include padding-x($offset--mobile);
    @include padding-y(2.5rem);

    border-top: 1px solid #e5e5e5;

    @media #{$tab-desk} {
        padding: 0;
        border: none;
    }

    &--variable {
      @media #{$tab-desk} {
        grid-column: 1 / -1;
      }
    }

    &:not([class$="gallery__item--variable"]) > .preview > .preview__description {
      padding-right: 3rem;
    }
  }
}
