.page-footer {
    display: grid;
    place-items: center;

    background-color: #ffffff;

    & > * {
        display: flex;
    }

    &__hashtag {
        padding-bottom: 3.5rem;

        font-size: 2.1rem;
        line-height: 2.6rem;
        font-weight: 700;
        text-transform: uppercase;

        @media #{$tab-desk} {
            padding-bottom: initial;
        }
    }

    &__socials {
        @include list-clear();
        padding-bottom: 4rem;

        @media #{$tab-desk} {
            grid-area: socials;
            padding-bottom: initial;
        }
    }

    &__copyright {
        font-size: $font-size;
        line-height: 2.6rem;
        text-transform: uppercase;

        & span {
            padding-right: 1rem;
        }

        @media #{$tab-desk} {
            grid-area: copyright;
        }
    }

    @media #{$tab-desk} {
        grid-auto-rows: minmax(120px, auto);
    }

    @media #{$tablet} {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "hashtag socials copyright";
    }

    @media #{$desktop} {
        grid-template-columns: 1fr 1fr 25% 25%;
        grid-template-areas: "hashtag socials socials copyright";
    }
}
