include ../socials/socials.pug

mixin page-footer(data)
	+b('footer').page-footer&attributes(attributes)
		- const { socialsList } = data;
		+e('span').hashtag= data.hashtag
		+socials(socialsList)(class='page-footer__socials')
		+e.copyright.copyright__
				span= data.copyright
				+e.link(href='https://htmlacademy.ru')
					!= pugHelpers.Icon.call(locals, {iconName: 'icon--htmlacademy', className: 'copyright__icon', iconWidth: '27', iconHeight: '34'})
