mixin video(data)
	+b('div').video&attributes(attributes)
		+e('video').movie-clip(controls=true, preload='metadata', poster='%=static=%img/content/promo/promo__video-poster.jpg')
		+e('ul').controls.controls-video__
			+e('li').item--progress
				input(type='range', min='0', max=false)
			+e('li').item--replay
				+e.link(href='#')
					!= pugHelpers.Icon.call(locals, {iconName: 'icon--replay', className: 'controls-video__icon', iconWidth: '16', iconHeight: '20'})
			+e('li').item--subtitles
				+e.link(href='#')
					!= pugHelpers.Icon.call(locals, {iconName: 'icon--subtitles', className: 'controls-video__icon', iconWidth: '32', iconHeight: '20'})
			+e('li').item--fullscreen
				+e.link(href='#')
					!= pugHelpers.Icon.call(locals, {iconName: 'icon--fullscreen', className: 'controls-video__icon', iconWidth: '20', iconHeight: '20'})




