.video {
    display: block;

    @media #{$tab-desk} {
        display: grid;
        grid-template-rows: repeat(2, auto);
        grid-auto-columns: 1fr;
    }

    &__movie-clip {
        display: block;
        max-width: 100%;
        height: auto;

        @media #{$tab-desk} {
            width: 100%;
            grid-row: 1 / -1;
            grid-column: 1 / -1;
        }
    }

    &__controls {
        position: relative;
        top: -45px;

        @include margin-x($offset--mobile);

        @media #{$tab-desk} {
            z-index: 5;
            position: static;
            top: auto;

            @include margin-x(initial);
            grid-row: 2;
            grid-column: 1 / -1;
        }
    }
}
