.copyright {
    display: flex;
    justify-content: center;
    align-items: center;

    &__link {
        display: flex;

        &:hover {
            @include icon-colors() {
                --icon-color: #{$color-secondary};
            };
        }

        &:active {
            @include icon-colors() {
                --icon-color: initial;
            };
            opacity: 0.3;
        }
    }
}
