.feedback {
  display: flex;
  flex-flow: column wrap;
  padding-bottom: 3.5rem;
  background-color: #ffffff;

  @include padding-x($offset--mobile);

  @media #{$tab-desk} {
    flex-flow: row wrap;

    & > .fieldset {
      width: 100%;
    }

    & > .fieldset[class*="fieldset--full-name"],
    & > .fieldset[class*="fieldset--impression"] {
      width: 50%;
    }
  }

  @media #{$tablet} {
    @include padding-x(6rem);
  }

  &__intro {
    width: 100%;
    @include margin-x(auto);
    padding-bottom: 1.5rem;

    &::after {
      display: none !important;
    }

    & .intro__heading {
      @media #{$tab-desk} {
        font-size: 3rem;
      }
    }
  }

  &__btn {
    @media #{$tab-desk} {
      order: 30;
    }

    @include margin-x(auto);
    @include btn-size;
    @include btn-text-format;
    @include btn-bg;
  }
}
