include ../intro/intro.pug
include ../fieldset/fieldset.pug

mixin feedback(data, activePageData, parentBlockName)
	- const { name } = activePageData;

	+b('form').feedback(novalidate='true')&attributes(attributes)
		+intro(intro, name)(class=`${parentBlockName}__intro`)
		- const keys = Object.keys(data);
		each key in keys
			+fieldset(data[key], key)(class=`--${key} __fieldset`)

		+e('button').btn(class='btn', type='submit') отправить отзыв


