include ../intro/intro.pug

mixin feedback(data, activePageData, parentBlockName)
	- const { name } = activePageData;
	+b('form').feedback&attributes(attributes)
		+intro(intro, name)(class=`${parentBlockName}__intro`)
		block
