.feedback {
    display: flex;
    flex-flow: column wrap;
    padding-bottom: 3.5rem;
    background-color: #ffffff;

    @include padding-x($offset--mobile);

    @media #{$tab-desk} {
        flex-flow: row wrap;
        padding-bottom: 6rem;

        & > .fieldset {
            width: 100%;
        }

        & > .fieldset[class*='fieldset--full-name'],
        & > .fieldset[class*='fieldset--impression'] {
            width: 50%;
        }
    }

    @media #{$tablet} {
        @include padding-x(6rem);
    }

    @media #{$desktop} {
        @include padding-x(12rem);
    }

    &__intro {
        width: 100%;
        @include margin-x(auto);
        margin-bottom: 1.5rem;

        @media #{$tablet} {
            padding-top: 6rem;
            margin-bottom: 3rem;
        }

        @media #{$desktop} {
            padding-top: 11.5rem;
            margin-bottom: 3.5rem;
        }

        &::after {
            display: none !important;
        }

        & .intro__heading {
            @media #{$tab-desk} {
                font-size: 3rem;
            }
        }
    }

    &__inner {
        display: flex;
        flex-basis: 100%;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;

        @media #{$tab-desk} {
            justify-content: space-between;
            order: 30;
        }
    }

    &__btn {
        @include margin-x(auto);
        @include btn-size;
        @include btn-text-format;
        @include btn-bg;

        @media #{$tab-desk} {
            margin-left: 0;
        }

        @media #{$desktop} {
            min-width: 50%;
        }
    }

    &__footnote {
        display: none;

        line-height: 2.6rem;
        text-transform: uppercase;

        @media #{$tab-desk} {
            display: flex;
        }
    }
}
