.page {
    &__wrapper {
        position: relative;
        overflow: hidden;

        box-shadow: 0 0 20px rgba($color-primary, 0.2);

        @media #{$desktop} {
            @include container();
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
    }

    &--dropdown {
        .main-nav__dropdown {
            z-index: 10;
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;

            background-color: rgba($color-secondary, 0.75);
        }
    }

    &--feedback,
    &--gallery {
        .page-header__inner {
            min-height: 215px;
            background-position: center center;

            @media #{$tablet} {
                min-height: 346px;
            }

            @media #{$desktop} {
                min-height: 356px;
            }
        }

        .icon--welcome-text {
            .icon__welcome,
            .icon__slogan {
                display: none;
            }
        }

        .page-header__icon {
            width: 230px;
            height: 40px;

            @media #{$tab-desk} {
                width: 460px;
                height: 80px;
            }
        }
    }
}
