include ../map/map.pug

mixin search(data)
	+b('article').search&attributes(attributes)
		+e('div').inner
			+e('header').heading
				h1 Заинтересовались?
			+e('p').text
				| Укажите предполагаемые даты поездки, и мы покажем вам лучшие предложения гостиниц в&nbsp;седоне
			+e('button').btn(class='btn', data-mfp-src="#search-popup", href='#') Найти гостиницу
		+map()(class='search__map mfp-hide', id="search-popup", data-latitude='34.869497', data-longitude='-111.760186')
